*.iml
.gradle/
local.properties
.idea/
.DS_Store
**/build/
/captures/
.externalNativeBuild
.cxx
*.apk
*.aab
*.ap_
*.dex
*.class

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
/flutter/android/gradlew
/flutter/android/gradlew.bat
